<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    自动代理生成器先在切面类中通过切入点表达式获知需要增强的目标类的方法
        然后在目标类中匹配到这些需要增强的方法后
        才会找到目标对象并修改这些对应的目标对象为代理对象
        如果在目标类中匹配不到需要增强的方法
        就不会修改目标对象-->
    <bean id="someService" class="org.example.ba06.SomeServiceImpl" />

    <bean id="myAspect" class="org.example.ba06.MyAspect" />

    <aop:aspectj-autoproxy />
</beans>